# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=touroperator
DB_USER=postgres
DB_PASSWORD=password


# JWT
JWT_SECRET=my-secret
JWT_ACCESS_TOKEN_EXPIRATION=900000
JWT_REFRESH_TOKEN_EXPIRATION=604800000


# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=password


# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_GROUP_ID=touroperator-group
